Package: apache-mod-pubcookie
Version: 3.3.4a-0ubuntu1
Architecture: amd64
Maintainer: Cybera <devops@cybera.ca>
Installed-Size: 238
Depends: libc6 (>= 2.14), libssl1.0.0 (>= 1.0.0), apache2.2-common, libssl0.9.8
Section: httpd
Priority: extra
Description: UofA's implementation of pubcookie for LMC.
 Includes UofA specific patches.
