Source: apache-mod-pubcookie
Section: httpd
Priority: extra
Maintainer: Cybera <devops@cybera.ca>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, apache2-threaded-dev, libssl-dev
Standards-Version: 3.9.2

Package: apache-mod-pubcookie
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2.2-common, libssl0.9.8
Description: UofA's implementation of pubcookie for LMC. 
 Includes UofA specific patches.
